
.header{
    height: 70px;
    width: 85%;
    position: fixed;
    left: 225px;
    box-shadow: 0px 1px 2px 0px #ccc;
    background:#65B48F;
    top: 0px;
    z-index: 100;
    .menu{
        float: right;
        list-style: none;
        margin-right: 20px;
        li{
            margin-right: 14px;
            float: left;
        }
        .notification {
            position: relative;
            display: inline-block;
            margin-top: 8px;
            .badge {
                position: absolute;
                top: -6px;
                right: 1px;
                padding: 1px 5px;
                border-radius: 50%;
                background: red;
                color: white;
                font-size: 14px;
              }
            
          } 
          .teamselect{
              background:#fff;
              border:1px solid #ccc;
              border-radius: 4px;
              padding-top: 4px;
              padding-right: 10px;
              select{
                  border:none;
              }
          }
    }
    .headericon{
        width: 21px;
        height: 21px;
        position: relative;
        top: 4px;
        margin-right: 10px;
        fill: #fff;
    }
    .icon-bell{
        color: #fff;
        font-size: 24px;
    }
    .icon-group{
        color: #CCC;
        font-size: 20px;
        padding: 11px;
    }
}